:root {
  --c-white-900: #fff;
  --c-black-900: #000;
  --c-red-900: #f00;
  --c-orange-900: #ff7f00;
  --c-yellow-900: #ff0;
  --c-spring-900-green: #7fff00;
  --c-green-900: #0f0;
  --c-turquoise-900: #00ff7f;
  --c-cyan-900: #0ff;
  --c-ocean-900: #007fff;
  --c-blue-900: #00f;
  --c-violet-900: #7f00ff;
  --c-magenta-900: #f0f;
  --c-raspberry-900: #ff007f;
}
